!!! 5
html
  head
    title= 'Tryout No. 12937'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/libs/modernizr-2.5.3.min.js")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src="javascripts/libs/underscore-min.js")
    script(src="javascripts/libs/jquery-ui.custom.min.js")
    script(src="javascripts/libs/backbone-min.js")
    script(src="javascripts/application.js")
    script(src="javascripts/modules/user.js")
  body!= body
