h1= 'Moinsen'
p Welcome to #{user.login}
p Your id is #{user.id}
div(id='main')
a(href='/logout') Logout
a(href='/all') See who is also using ccd
script(type='text/javascript')
  jQuery(function($) {
    // Initialize your application here.
    var module_user = ccd.module('user');
    var user = new module_user.Model({_id: '#{user.id}'});
    var user_view = new module_user.Quickview({ 'el': $('#main'), model: user });
    user.fetch();
  });
